<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <h2>메인페이지</h2>
    <ul>
        <!-- html href /:루트 디렉토리에서 시작,  ./:현재 디렉토리에서 시작,  ../:이전 디렉토리에서 시작  -->
        <li><a href='/admin'>관리자 페이지</a></li>
        <hr>
        <!-- html -> server 1. 파라미터 2. 우아한url -->
        <li>데이터 전달방법 : html -> server 1. 파라미터 2. 우아한 url</li>
        <li><a href='/students/list/?name=1'>파라미터 전달(뒤쪽에 / 없음) : /students/list/?name=1</a></li>
        <li><a href='/students/list/1/'>api방식으로 전달(뒤쪽에 / 있음) : /students/list/1/</a></li>
    </ul>
</body>
</html>