<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='csrf-token' content='{{csrf_token}}'>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>form 게시판</title>
    <style>
        table{margin:10px auto; width:1200px;}
        table, th, td{border:1px solid black; border-collapse:collapse;}
        th, td{height:40px;}
        textarea{width:300px; height:100px;}
    </style>
    <script>
        $(function(){
            $('.writeBtn').click(function(){
                alert("글쓰기를 진행합니다.");
                id = $('.id').val();
                btitle = $('.btitle').val();
                bcontent = $('.bcontent').val();
                cToken = $('meta[name="csrf-token"]').attr('content');
                console.log('넘어온 데이터 : ',id,btitle,bcontent,cToken);

                $.ajax({
                    url:'/ajaxData/bwrite/',    // 접근 url
                    type:'post',
                    headers:{'X-CSRFToken':cToken},
                    data:{'id':id, 'btitle':btitle, 'bcontent':bcontent},
                    success:function(data){
                        alert('성공');
                        console.log(data);

                        hdata = ``;
                        hdata += `<tr>`;
                        hdata += `<td>${data.board[0].bno}</td>`;
                        hdata += `<td>${data.board[0].btitle}</td>`;
                        hdata += `<td>${data.board[0].id}</td>`;
                        hdata += `<td>${data.board[0].bhit}</td>`;
                        hdata += `<td>${data.board[0].bdate}</td>`;
                        hdata += `</tr>`;
                        $('#tbody').prepend(hdata);

                        // 빈공백 처리
                        $('.id').val('');
                        $('.btitle').val('');
                        $('.bcontent').val('');
                    },
                    error:function(){
                        alert('실패');
                    }
                }); //ajax 선언
            });
        }); //ajax
    </script>
</head>
<body>
    <h3><a href='/'>3. 폼 데이터 - ajax</a></h3>
    {% comment %} <form action='/board/list3/' method='post' name='writefrm'> {% endcomment %}
        {% csrf_token %}
        <label>아이디</label>
        <input type='text' name='id'><br>
        <label>제목</label>
        <input type='text' name='btitle'><br>
        <label>내용</label>
        <textarea name='bcontent' width=''></textarea><br>
        <input type='button' class='writeBtn' value='전송'>
    </form>

    <table>
        <colgroup>
            <col width='12%'>
            <col width='*'>
            <col width='12%'>
            <col width='12%'>
            <col width='12%'>
        </colgroup>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
        <tbody id='tbody'>
            {% for board in list %}
            <tr>
                <td>{{board.bno}}</td>
                <td>{{board.btitle}}</a></td>
                <td>{{board.id}}</td>
                <td>{{board.bhit}}</td>
                <td>{{board.bdate|date:'Y-m-d H:i:s'}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>